

body {
  display: flex;
  justify-content: center;
  background-color: pink;
  
}

.Header {
  display: flex;
  justify-content: space-evenly;
  ;

}
.Main {
  
  width: 500px;
  height: 700px
 
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  align-content: center;
}

#two {
  color: blue;
}

.social {
  display: flex;
  justify-content: space-around;
}

#one:hover, #two:hover, #three:hover {
transform: scale(1.3);
}