

body {
  display: flex;
  justify-content: center;
  background-color: red;
  
}

.Header {
  display: flex;
  justify-content: space-evenly;
  ;

}
.Main {
  border: 2px solid red;
  width: 500px;
  height: 700px
 
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gold;
  justify-content: center;
  align-content: center;
}

#two {
  color: blue;
}